<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>538318472347-f24jkflt7n04seo48urovt89300q72m2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.538318472347-f24jkflt7n04seo48urovt89300q72m2</string>
	<key>API_KEY</key>
	<string>AIzaSyCc7jtl0i4H6qamtq3An8Q9fsE2GHFdyyc</string>
	<key>GCM_SENDER_ID</key>
	<string>538318472347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smobdev.Talkpal</string>
	<key>PROJECT_ID</key>
	<string>limitchat-b1e13</string>
	<key>STORAGE_BUCKET</key>
	<string>limitchat-b1e13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:538318472347:ios:525ff36971555b02</string>
	<key>DATABASE_URL</key>
	<string>https://limitchat-b1e13.firebaseio.com</string>
</dict>
</plist>